@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2ec8c8;
}

/* 스크롤바 전체 숨기기 */
body::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2ec8c8;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Pretendard-Thin.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Pretendard-ExtraLight.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Pretendard-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Pretendard-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Pretendard-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Pretendard-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Pretendard-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Pretendard-ExtraBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Pretendard-Black.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
  font-display: swap;
}

/* hover 시 애니메이션 일시 정지 */
.hover\:pause-animation:hover {
  animation-play-state: paused;
}
