@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2ec8c8;
}

/* 스크롤바 전체 숨기기 */
body::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2ec8c8;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400 700;
  font-style: normal;
  src:
    local('Pretendard'),
    url('../fonts/Pretendard-Regular.woff') format('woff') font-weight(400),
    url('../fonts/Pretendard-Medium.woff') format('woff') font-weight(500),
    url('../fonts/Pretendard-Bold.woff') format('woff') font-weight(700);
  font-display: swap;
  preload: true;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100 900;
  font-style: normal;
  src:
    local('Montserrat'),
    url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype') tech(variations);
  font-display: swap;
  preload: true;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100 900;
  font-style: italic;
  src:
    local('Montserrat'),
    url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype') tech(variations);
  font-display: swap;
  preload: true;
}

/* hover 시 애니메이션 일시 정지 */
.hover\:pause-animation:hover {
  animation-play-state: paused;
}
